# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Logs / outputs
outputs/
wandb/
*.log

# datasets 
datasets/

# output 
outputs/

uv.lock